#title {
  user-select: none;
  cursor: default;
  font-weight: bolder;
  font-size: 70px;
  position: fixed;
  top: -6px;
  left: 20px;
  clear: both;
}

#name {
  margin-bottom: 6px;
}

#maze-gen-title {
  text-decoration: underline;
  font-size: 17px;
  user-select: none;
  font-weight: bolder;
  cursor: default;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-left: 100px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
}

.section-wrap {
  display: flex;
  justify-content: center;
}

.information-details {
  display: flex;
  text-decoration: underline;
  justify-content: center;
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 5px;
  user-select: none;
}

.information-content {
  display: flex;
  text-align: center;
}

#informational-box {
  margin-top: 30px;
  margin-left: 80px;
  border: 4px solid black;
  max-width: 230px;
  padding: 3px;
  border-radius: 3px;
  max-height: 480px;
  position: relative;
}

#body-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.title-wrapper {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3%;
  min-width: 200px;
}

.generator-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: 5px 0;
}

.generator-btns > button {
  border: 1px solid black;
  padding: 3px;
  border-radius: 3px;
  user-select: none;
}
.generator-btns > button:hover {
  background-color: rgb(212, 212, 212);
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
ul > li {
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  display: flex;
  justify-content: center;
  user-select: none;
}
ul > li:hover {
  background-color: rgb(212, 212, 212);
}

footer div {
  user-select: none;
  cursor: default;
  margin-left: 15px;
}

#instant-toggle-text {
  font-weight: bolder;
  color: rgb(0, 10, 255);
}

.button-on {
  background-color: rgb(212, 212, 212);
}
