html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, div, h2, p, form,
fieldset, label, input, textarea, figure, figcaption,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
input[type="submit"] {
  cursor: pointer;
}

textarea {
  resize: none;
}
